# Bloque n'importe quel dossier venv_marker n'importe où dans le projet
**/venv_marker/

# Bloque aussi les noms standards (au cas où)
venv/
.venv/
env/

# Bloque les fichiers système Mac et les caches Python
.DS_Store
**/__pycache__/
*.pyc